/* make space on the top of the viewport for the contact bar if fixed bar */
body.scb-fixed {
	padding-top: 2.5em !important;
}
body.scb-fixed #scb-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}
/* contact bar styles */
#scb-wrapper {
	width: 100%;
	padding: .625em;
}
#scb-wrapper h2,
#scb-wrapper dl,
#scb-wrapper dt,
#scb-wrapper dd,
#scb-wrapper a {
	display: inline;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1;
}
#scb-wrapper h2,
#scb-wrapper dd {
	margin-right: 1em;
}
/* Dashicons: common values */
#scb-wrapper dt:before {
	font-family: "dashicons";
	font-size: 2em;
	line-height: 1;
	/*position: relative;
	top: 0.25em;*/
	margin: 0;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}
/* Dashicons: single values */
dt#speed-contact-bar-email:before {
	content: "\f466"; /* Email glyph */
	margin-right: 5px;
}
dt#speed-contact-bar-phone:before {
	content: "\f470"; /* Smartphone glyph */
	margin-right: 0;
}