/* make space on the top of the viewport for the contact bar */
body {
	padding-top: 38px !important;
}
/* contact bar styles */
#speed-contact-bar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	padding: 10px;
}
